streamlit-build.log
.env
venv/
reports/**
models/**
logs/
init-db.sql
data/**
catboost_info
mlruns/**
.dvc
src/api/__pycache__/
src/api/service/__pycache__/
src/api/schemas/__pycache__/
src/api/routers/__pycache__/
